<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QRCode Generator vue</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/path/to/qrious.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>

      <div>
        <input
          type="text"
          size="25"
          placeholder="text to generate..."
          v-model="text"
        />
      </div>
      <div v-if="text" class="output">
        <img :src="new QRCode" alt="QRCode" />
      </div>
    </div>

    <script>
      (function () {
        let qr = new QRious({
          element: document.getElementById("qr"),
          value: "https://github.com/neocotic/qrious",
        });
      })();
      new Vue({
        el: "#app",
        data: {
          title: "QRCode Generator using Vue and qrcode.js",
          text: "https://www.google.com",
          qrcode: new QRious({ size: 300 }),
        },
        computed: {
          newQRCode() {
            this.qrcode.value = this.text;
            return this.qrcode.toDataURL();
          },
        },
      });
    </script>
  </body>
</html>
