<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QRCode Generator vue</title>
    <link rel="stylesheet" href="style.css" />
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qrcode/1.5.1/qrcode.min.js"
      integrity="sha512-PEhlWBZBrQL7flpJPY8lXx8tIN7HWX912GzGhFTDqA3iWFrakVH3lVHomCoU9BhfKzgxfEk6EG2C3xej+9srOQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <div>
        <input
          type="text"
          size="25"
          placeholder="text to generate..."
          v-model="text"
        />
      </div>
      <div v-if="text" class="output">
        <img :src="newQRCode" alt="QRCode" />
      </div>
    </div>

    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            title: "QRCode Generator using Vue and qrcode.js",
            text: "https://www.google.com",
            qrcode: newQRCode({ size: 300 }),
          };
        },
        computed() {
          return {
            newQRCode() {
              this.qrcode.value = this.text;
              return this.qrcode.toDataURL();
            },
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
